@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(freepik__upload__63950.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
}
.navigations a{
    position: relative;
    font-size: 1.1em;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    
}

.navigations a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom:-6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;

    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
}
.navigations a:hover::after{
    transform:scaleX(1);
    transform-origin: left;
    -webkit-transform:scaleX();
}

.navigations .btn-login-popup{
 width: 130px;
 height: 50px;
 background: transparent;
 border: 2px solid #fff;
 outline: none;
 border-radius: 6px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 -ms-border-radius: 6px;
 -o-border-radius: 6px;
 cursor: pointer;
 font-size: 1.1em;
 color: #fff;
 font-weight: 500;
 margin-left: 40px;
 transition: 0.5s;
 -webkit-transition: 0.5s;
 -moz-transition: 0.5s;
 -ms-transition: 0.5s;
 -o-transition: 0.5s;
}
.navigations .btn-login-popup:hover{
    background-color: #fff;
    color: #403E63;

}

header .menu{
    background-color: transparent;
    display: none;
    flex-direction: column;
    padding: 5px;
    border: none;
    cursor: pointer;
    
    
    
}
.bar{
    display: block;
    position: relative;
    z-index: 99;
    width: 35px;
    height: 4px;
    margin:3px auto;
    border-radius: 5px;
    background: #fff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.backdrop{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 98;
}
.wrapper{
    position: relative;
    width: 380px;
    height: 440px;
    background: transparent;
    border:2px solid rgba(255,255,255, .5);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition:transform .5s ease, height .2s ease;
    overflow: hidden;
    transform: scale(0);
    -webkit-transition:transform .5s ease, height .2s ease;
    -moz-transition:transform .5s ease, height .2s ease;
    -ms-transition:transform .5s ease, height .2s ease;
    -o-transition:transform .5s ease, height .2s ease;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}
.wrapper.active-popup{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.icon-close{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0px;
    width: 45px;
    height: 45px;
    background-color: #403E63;
    color: #fff;
    font-size: 1.6em;
    cursor:pointer;
    z-index: 1;
    border-radius:  0 20px 0 20px;
    -webkit-border-radius:  0 20px 0 20px;
    -moz-border-radius:  0 20px 0 20px;
    -ms-border-radius:  0 20px 0 20px;
    -o-border-radius:  0 20px 0 20px;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.form-box h2{
    font-size: 2em;
    color:#403E63;
    text-align: center;
}
.wrapper.active{
    height: 475px;
}
.wrapper .form-box.login{
   transition: transform .18s ease;
   -webkit-transition: transform .18s ease;
   -moz-transition: transform .18s ease;
   -ms-transition: transform .18s ease;
   -o-transition: transform .18s ease;
   transform: translateX(0);
   -webkit-transform: translateX(0);
   -moz-transform: translateX(0);
   -ms-transform: translateX(0);
   -o-transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transform: translateX(-400px);
    -webkit-transform: translateX(-400px);
    -moz-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    -o-transform: translateX(-400px);
}
.wrapper .form-box.register{
    transition: none;
    position: absolute;
    transform: translateX(400px);
    -webkit-transform: translateX(400px);
    -moz-transform: translateX(400px);
    -ms-transform: translateX(400px);
    -o-transform: translateX(400px);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}
.wrapper.active .form-box.register{
    transition: transform .18s ease;
    -webkit-transition: transform .18s ease;
    -moz-transition: transform .18s ease;
    -ms-transition: transform .18s ease;
    -o-transition: transform .18s ease;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
 }


.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #403E63;
    margin: 30px 0;

}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    font-size: 1em;
    color: #403E63;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}
.input-box input{
    width:100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    color: #403E63;
    padding: 0 35px 0px 5px;

}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #403E63;
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    display: flex;
    justify-content: space-between;
    color: #403E63;
    font-weight: 500;
    margin: -15px 0 15px;

    
}
.remember-forgot label input{
    accent-color: #403E63;
    margin-right: 3px;
}
.remember-forgot a{
    color: #403E63;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    border-radius: 6px;
    font-weight: 500;
    font-size: .9em;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: none;
    outline: none;
    background-color: #403E63;
    color: #fff;
}
.login-register{
    font-size: 0.9em;
    font-weight: 500;
    text-align: center;
    color: #403E63;
    margin: 25px 0 10px;
}
.login-register a{
    color: #403E63;
    font-weight: 600;
    text-decoration: none;
}
.login-register a:hover{
    text-decoration: underline;
}


@media(max-width:880px){
    header{
        padding: 20px 30px;
    }
    .navigations .btn-login-popup{
        right: 10px;
        margin-left: 0;
    }
    .navigations a{
        display: none;
    }
    header .menu{
        display: flex;
    }

    header .menu.active .bar:nth-child(2){
        opacity: 0;
    }
    header .menu.active .bar:nth-child(1){
        transform:translateY(10px) rotate(45deg);
        -webkit-transform:translateY(10px) rotate(45deg);
        -moz-transform:translateY(10px) rotate(45deg);
        -ms-transform:translateY(10px) rotate(45deg);
        -o-transform:translateY(10px) rotate(45deg);
}
header .menu.active .bar:nth-child(3){
    transform:translateY(-10px) rotate(-45deg);
    -webkit-transform:translateY(-10px) rotate(-45deg);
    -moz-transform:translateY(-10px) rotate(-45deg);
    -ms-transform:translateY(-10px) rotate(-45deg);
    -o-transform:translateY(-10px) rotate(-45deg);
}
    .logo{
        margin-left: 10px;
    }
    
}


@media(max-height:575px){

    
    .wrapper{
        margin-top: auto;
    }
}
@media (max-width:450px) {
     
    .wrapper{
        width: 300px;
    }
}